#page-pricing {
  background: $c-black;
  padding-top: 110px;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}

.page-pricing-heading {
  @include reset;
  @include tipography(38px, bold, uppercase);
  text-align: center;
  margin-bottom: 45px;

  @media (max-width: 414px) {
    @include tipography(18px, bold, uppercase);
  }
}

.page-pricing-list {
  @include reset;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 40px;
  grid-auto-rows: 1fr;
  gap: 50px;
  overflow-x: hidden;

  @media (max-width: 414px) {
    display: block;
  }
}

.page-pricing-info {
  @include reset;
  @include tipography(16px, normal, none);
  text-align: center;
}