@import "../variables.scss";
@import "../mixins.scss";

.banner {
  @include flex-standart;
  flex-direction: column;
  align-items: stretch;
  color: $c-white;
  overflow-x: hidden;

}

.banner-heading,
.banner-subheading {
  @include reset;
  text-align: center;
  color: $c-white;
}

.banner-heading {
  @include tipography(60px, bold, uppercase);
  text-align: center;

  @media (max-width: 414px) {
    @include tipography(30px, bold, uppercase);
  }
}

.banner-subheading {
  @include tipography(38px, bold, uppercase);
  margin-bottom: 30px;

  @media (max-width: 414px) {
    @include tipography(18px, bold, uppercase);
    margin-bottom: 15px;
  }
}

.banner-text {
  @include reset;
  @include tipography(16px);
  margin-bottom: 15px;
  text-align: center;
}

.artist-page .banner-heading,
.artist-page .banner-text {
  text-align: left;
}

.banner-login {
  @include reset;
  width: 565px;
  align-self: center;

  @media (max-width: 414px) {
    width: 100%;
  }
}

.banner-input-wrapper {
  @include flex-standart;
  justify-content: space-between;

  @media (max-width: 414px) {
    flex-direction: column;
  }
}

.banner-login-field {
  @include reset;
  box-sizing: border-box;
  width: 275px;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border: 2px solid $c-dark-gray;
  border-radius: 3px;
  background: transparent;
  color: $c-white;

  @media (max-width: 414px) {
    width: 100%;
  }
}

.banner-login-field::placeholder {
  @include tipography(14px, bold, none, none, 1.1);
  color: $c-white;
}

.btn-banner {
  width: 100%;
  background-color: $c-green;
  color: $c-white;
}

.banner-heading {
  @media (max-width: 414px) {
    margin-bottom: 10px;
  }
}

.banner-text {
  @media (max-width: 414px) {
    margin-bottom: 48px;
  }
}

.banner-buttons {
  display: flex;

  @media (max-width: 414px) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.banner-buttons .btn {
  box-sizing: border-box;
}

.btn-play {
  min-width: 200px;
  height: 62px;
  position: relative;
  display: flex;
  justify-content: start;
  padding-left: 30px;
  align-items: center;
  background: $c-purple;
  margin-right: 24px;
  color: $c-white;
  font-size: 12.8px;

  &::before {
    @include pseudo-element;
    background-image: url("../images/play-button.svg");
    color: white;
    width: 24px;
    height: 24px;
    left: 20px;
    z-index: 1;
    background-repeat: no-repeat;
  }

  @media (max-width: 414px) {
    margin-right: 0;
    margin-bottom: 24px;
  }
}

.btn-favorites {
  min-width: 200px;
  height: 62px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $c-red;
  color: $c-white;
  font-size: 12.8px;

  &::before {
    @include pseudo-element;
    background-image: url("../images/heart.svg");
    color: white;
    width: 24px;
    height: 24px;
    left: 20px;
    z-index: 1;
    background-repeat: no-repeat;
  }
}