#page-description {
  padding-top: 25px;
  padding-bottom: 200px;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.artist-page {
  #page-description {
    background-image: url("../images/Morten%20Harket.png");
  }
}