#page-description {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  @media (max-width: 414px) {
    padding-top: 250px;
  }
}

.artist-page {
  #page-description {
    background-image: url("../images/Morten%20Harket.png");
  }
}