#page-app {
  padding-top: 100px;
  background: $c-black;
  background-image: url("../images/iphone.png");
  background-repeat: no-repeat;
  background-position: 90% 70%;
  @media (max-width: 414px) {
    background-position: center 160px;
  }
}

#page-app .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(278px, max-content);
  @media (max-width: 414px) {
    display: block;
  }
}

.app-content {
  padding-bottom: 100px;
}

.app-heading {
  @include reset;
  @include tipography(38px, bold, uppercase);
  margin-bottom: 65px;
  text-align: center;
  @media (max-width: 414px) {
    @include tipography(18px, bold, uppercase);
    margin-bottom: 340px;
  }
}

.app-text {
  @include reset;
  @include tipography(16px, normal, none);
  color: $c-dark-gray;
  margin-bottom: 20px;
}

.app-text:last-child {
  margin-bottom: 0;
}

.btn-app {
  @include tipography(13px, normal, none);
  padding: 16px 40px;
  color: $c-white;
  background: $c-red;
  border-radius: 32px;
  display: inline-block;
}