.main-footer {
  box-sizing: border-box;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
  padding-top: 60px;
}

.main-footer a {
  @include tipography(16px, normal, none, none);
  color: $c-gray;
}

.main-footer ul,
li,
p,
h4 {
  @include reset;
  list-style: none;
}

.about-nav,
.support-nav,
.contacts,
.social {
  @media (max-width: 414px) {
    margin-bottom: 30px;
  }
}

.main-footer h2 {
  @include reset;
  @include tipography(18px, bold, uppercase);
  margin-bottom: 15px;
}

.footer-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  margin-bottom: 70px;

  @media (max-width: 1199px) {
    grid-template-columns: repeat(auto-fill, 200px);
    row-gap: 20px;
  }

  @media (max-width: 414px) {
    display: block;
  }
}

.main-footer .social-list {
  display: flex;
}

.social-item {
  display: block;
  font-size: 0;
  width: 26px;
  height: 26px;
  margin-right: 25px;

  &::before {
    @include pseudo-element;
    bottom: 0;
    background-repeat: no-repeat;
  }
}

.social-item--gl {
  position: relative;

  &::before {
    background: url("../images/Google+.png");
    width: 26px;
    height: 17px;
  }

}

.social-item--tw {
  position: relative;

  &::before {
    background: url("../images/Twitter.png");
    width: 22px;
    height: 19px;
  }

}

.social-item--fb {
  position: relative;

  &::before {
    background: url("../images/Facebook.png");
    width: 12px;
    height: 20px;
  }

}

.social-item--inst {
  position: relative;

  &::before {
    background: url("../images/Instagram.png");
    width: 19px;
    height: 20px;
  }
}

.footer-nav {
  border-top: 1px solid $c-gray;
}

.main-footer .footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 50px;

  @media (max-width: 414px) {
    flex-direction: column;
  }
}

.footer-nav-list-item {
  margin-right: 16px;

  @media (max-width: 414px) {
    margin-bottom: 16px;
  }
}