#page-news {
  padding-top: 100px;
  padding-bottom: 100px;
  background: $c-black;
}

.news-heading {
  @include tipography(38px, bold, uppercase);
  margin-bottom: 50px;
  text-align: center;
  @media (max-width: 414px) {
    @include tipography(18px, bold, uppercase);
  }
}

.news-list {
  @include reset;
  list-style: none;
}

.news-list-item {
  @include reset;
  margin-bottom: 65px;
}

.news-list-item:last-child {
  margin-bottom: 0;
}