body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 414px) {
  h1 {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    line-height: 45px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
  }
}
@media (min-width: 415px) {
  h1 {
    font-family: "Roboto", sans-serif;
    font-size: 60px;
    line-height: 90px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
  }
}

@media (max-width: 414px) {
  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
  }
}
@media (min-width: 415px) {
  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 38px;
    line-height: 57px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
  }
}

@media (max-width: 414px) {
  h3 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
  }
}
@media (min-width: 415px) {
  h3 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    line-height: 45.6px;
    font-weight: normal;
    text-transform: none;
    text-decoration: none;
    color: #ffffff;
  }
}

@media (max-width: 414px) {
  h4 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
  }
}
@media (min-width: 415px) {
  h4 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
  }
}

.container {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  background: transparent;
}
@media (min-width: 1240px) {
  .container {
    max-width: 1200px;
  }
}

.text-hidden {
  font-size: 0;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 15.6px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 5px;
}

#page-description {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}
@media (max-width: 414px) {
  #page-description {
    padding-top: 250px;
  }
}

.main-header {
  position: absolute;
  top: 25px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  background: transparent;
}

.main-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
@media (max-width: 414px) {
  .main-nav {
    flex-direction: column;
    align-items: start;
  }
}

.main-nav-list {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
@media (min-width: 415px) {
  .main-nav-list {
    flex-basis: 79.3333333333;
  }
}
@media (max-width: 414px) {
  .main-nav-list {
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
  }
}

.main-nav-list-item a {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  line-height: 16.5px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin-right: 24px;
  color: #ffffff;
}
@media (max-width: 414px) {
  .main-nav-list-item a {
    margin-right: 0;
  }
}

@media (max-width: 414px) {
  .main-nav-list-item:nth-child(1) a {
    color: #E0E0E0;
  }
}

@media (max-width: 414px) {
  .main-nav-list-item:nth-child(2) a {
    color: #E0E0E0;
  }
}

@media (max-width: 414px) {
  .main-nav-list-item:nth-child(3) a {
    color: #ffffff;
  }
}

.main-nav-list-item--home {
  position: relative;
  margin-right: 90px;
  margin-bottom: 20px;
  padding-left: 40px;
}
.main-nav-list-item--home::before {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/logo.svg");
  width: 24px;
  height: 24px;
  top: -6px;
  left: 0;
  z-index: 1;
}

.search-form {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 248px;
  margin-bottom: 0;
  padding-bottom: 0;
}
@media (max-width: 414px) {
  .search-form {
    width: 100%;
  }
}

.search-form-input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 14.3px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  padding: 5px 10px;
  border-radius: 50px;
  background-color: #CACACA;
  width: 100%;
}
@media (max-width: 414px) {
  .search-form-input {
    display: block;
  }
}

.search-form-input::placeholder {
  color: #E0E0E0;
}

.banner .container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  overflow-x: hidden;
}

.banner-heading, .banner-subheading {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: #ffffff;
}

.banner-heading {
  text-align: center;
}
@media (max-width: 414px) {
  .banner-heading {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.banner-subheading {
  margin-bottom: 30px;
}
@media (max-width: 414px) {
  .banner-subheading {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 15px;
  }
}

.banner-text {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  margin-bottom: 16px;
}

.banner-login {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 565px;
}
@media (max-width: 414px) {
  .banner-login {
    width: 100%;
  }
}

.banner-input-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
@media (max-width: 414px) {
  .banner-input-wrapper {
    flex-direction: column;
    align-items: stretch;
  }
}

.banner-login-field {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  width: 270px;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border: 2px solid #E0E0E0;
  border-radius: 3px;
  background: transparent;
  color: #ffffff;
}
@media (max-width: 414px) {
  .banner-login-field {
    width: 100%;
  }
}

.banner-login-field::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 15.4px;
  font-weight: bold;
  text-transform: none;
  text-decoration: none;
  color: #ffffff;
}

.btn-banner {
  width: 100%;
  background-color: #34C176;
  color: #ffffff;
}

#page-pricing {
  background: #08020D;
  padding-top: 100px;
}

.page-pricing-heading {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin-bottom: 45px;
}

.page-pricing-list {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 50px;
  margin-bottom: 40px;
  overflow-x: hidden;
}
@media (max-width: 414px) {
  .page-pricing-list {
    display: block;
  }
}

.page-pricing-info {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
  text-align: center;
}

.page-pricing-item {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  margin-bottom: 50px;
}

.page-pricing-item:nth-child(3) {
  margin-bottom: 0;
}

.page-pricing-item:nth-child(1) .pricing-item {
  background: url("../images/subscribe_1.png");
}

.page-pricing-item:nth-child(2) .pricing-item {
  background: url("../images/subscribe_2.png");
}

.page-pricing-item:nth-child(3) .pricing-item {
  background: url("../images/subscribe_3.png");
}

.pricing-item {
  box-sizing: border-box;
  min-height: 582px;
  padding: 1.5rem;
  padding-bottom: 0;
  border-radius: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: auto;
}

.pricing-item-heading {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin-bottom: 180px;
}
@media (max-width: 414px) {
  .pricing-item-heading {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.pricing-item-value {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  line-height: 64px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 35px;
}

.pricing-item-value span {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  line-height: 48px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 1rem;
}

.pricing-item-text {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
  text-align: justify;
}

.btn-pricing {
  margin-bottom: 55px;
  color: #ffffff;
  border: 1px solid #FFFFFF;
}

#page-news {
  padding-top: 100px;
  background: #08020D;
}

.news-heading {
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 50px;
  text-align: center;
}
@media (max-width: 414px) {
  .news-heading {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.news-list {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
}

.news-list-item {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  margin-bottom: 65px;
}

.news-list-item:last-child {
  margin-bottom: 0;
}

.news-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}
@media (max-width: 414px) {
  .news-item {
    display: block;
  }
}

.news-item-img {
  width: 100%;
  height: auto;
}
@media (max-width: 414px) {
  .news-item-img {
    margin-bottom: 50px;
  }
}

.news-item-heading {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  line-height: 45px;
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
  margin-bottom: 30px;
}
@media (max-width: 414px) {
  .news-item-heading {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    text-transform: none;
    text-decoration: none;
    margin-bottom: 16px;
  }
}

.news-item-text {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
  margin-bottom: 24px;
  color: #E0E0E0;
}

.news-item-author {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding-left: 35px;
  margin-right: 16px;
  color: #F89202;
}
.news-item-author::before {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  background: url("../images/avatar.png");
  border-radius: 50%;
  width: 19px;
  height: 19px;
}

.news-item-date {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #E0E0E0;
}

.news-author-wrapper {
  margin-bottom: 45px;
}

.btn-news {
  display: inline-block;
  padding: 16px 30px;
  color: #CACACA;
  border: 1px solid #CACACA;
}

#page-app {
  padding-top: 100px;
  background: #08020D;
  background-image: url("../images/iphone.png");
  background-repeat: no-repeat;
  background-position: 90% 50%;
}
@media (max-width: 414px) {
  #page-app {
    background-position: center 160px;
  }
}

#page-app .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(278px, max-content);
}
@media (max-width: 414px) {
  #page-app .container {
    display: block;
  }
}

.app-content {
  padding-bottom: 100px;
}

.app-heading {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 65px;
  text-align: center;
}
@media (max-width: 414px) {
  .app-heading {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 340px;
  }
}

.app-text {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
  color: #CACACA;
  margin-bottom: 20px;
}

.app-text:last-child {
  margin-bottom: 0;
}

.btn-app {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
  padding: 16px 40px;
  color: #ffffff;
  background: #95390C;
  border-radius: 32px;
  display: inline-block;
}