body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
  color: #ffffff;
}

.container {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  background: transparent;
}
@media (min-width: 1240px) {
  .container {
    max-width: 1200px;
  }
}

.text-hidden {
  font-size: 0 !important;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 15.6px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 5px;
}