@import "mixins.scss";
@import "variables.scss";

body {
  @include reset;
  @include tipography(16px,
    $f-weigth-default,
    $f-decoration,
    $f-transform,
    1.5,
    $f-family-default);
  color: $c-white;
}

.container {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  background: transparent;

  @media (min-width: 1240px) {
    max-width: 1200px;
  }
}

.text-hidden {
  font-size: 0 !important;
}

.btn {
  @include reset;
  @include tipography(13px, normal, uppercase, none, 1.2);
  @include flex-standart;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 5px;
}

ul,
li,
form {
  line-height: 0;
}