@import "mixins.scss";
@import "variables.scss";

body {
  @include reset;
  @include tipography();
  color: $c-white; 
}

h1 {
  @media (max-width: 414px) {
    @include h1-mobile();
  }
  @media (min-width: 415px) {
    @include h1-desktop();
  }
}

h2 {
  @media (max-width: 414px) {
    @include h1plus-mobile();
  }
  @media (min-width: 415px) {
    @include h2-desktop();
  }
}

h3 {
  @media (max-width: 414px) {
    @include h1plus-mobile();
  }
  @media (min-width: 415px) {
    @include h3-desktop();
  }
}

h4 {
  @media (max-width: 414px) {
    @include h1plus-mobile();
  }
  @media (min-width: 415px) {
    @include h4-desktop();
  }
}

.container {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  background: transparent;
  @media (min-width: 1240px) {
    max-width: 1200px;
  }
}

.text-hidden {
  font-size: 0;
}

.btn {
  @include tipography(13px, normal, uppercase, none, 1.2);
  @include flex-standart;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 5px;
}