@import 'variables.scss';

@mixin tipography($font-size: $f-size-default,
  $font-weight: $f-weigth-default,
  $text-transform: $f-transform,
  $text-decoration: $f-decoration,
  $line-height-coeff: $f-line-height-coeff,
  $font-family: $f-family-default) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $font-size * $line-height-coeff;
  font-weight: $font-weight;
  text-transform: $text-transform;
  text-decoration: $text-decoration;
}

@mixin h1-desktop($color: $c-white) {
  @include tipography(60px, bold, uppercase);
  color: $color;
}

@mixin h2-desktop($color: $c-white) {
  @include tipography(38px, bold, uppercase);
  color: $color;
}

@mixin h3-desktop($color: $c-white) {
  @include tipography(24px, normal, none, none, 1.9);
  color: $color;
}

@mixin h3-desktop-cap($color: $c-white) {
  @include tipography(24px, normal, none, none, 1.9);
  color: $color;
}

@mixin h3-desktop-cap-b($color: $c-white) {
  @include tipography(24px, bold, lowercase, none, 1.9);
  color: $color;
}

@mixin h4-desktop($color: $c-white) {
  @include tipography(18px, bold, uppercase);
  color: $color;
}

@mixin h4-desktop-cap-b($color: $c-white) {
  @include tipography(18px, bold, lowercase);
  color: $color;
}

@mixin h1-mobile($color: $c-white) {
  @include tipography(30px, normal, uppercase);
  color: $color;
}

@mixin h1plus-mobile($color: $c-white) {
  @include tipography(18px, normal, uppercase);
  color: $color;
}

@mixin flex-standart {
  display: flex;
  flex-wrap: nowrap;
}

@mixin reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

@mixin pseudo-element {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin adaptive-img {
  width: 100%;
  height: auto;
}

@mixin element-color($color) {
  background-image: url('data:image/svg+xml;utf8,<svg ...><g stroke="#{$color}" ... /></g></svg>');
}