// colors
$c-black: #08020D;
$c-gray: #E0E0E0;
$c-dark-gray: #CACACA;
$c-dark: #3C3B3D;
$c-green: #34C176;
$c-orange: #F89202;
$c-purple: #5328A1;
$c-red: #95390C;
// typography
$f-size-default: 16px;
$f-weigth-default: normal;
$f-line-height-coeff: 1.5;
$f-family-default: 'Roboto', sans-serif;
$f-decoration: none;
$f-transform: none;
// layout
$m-right-s: 16px;
$m-right-m: 24px;
$m-bottom-s: 16px;
$m-bottom-m: 30px; 